:root {
    --font-color: #cacaca;
    --background-color: #08020d;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

body {
    font-family: Roboto, sans-serif;
    line-height: 1.5em;
    color: var(--font-color);
    background-color: var(--background-color);
}